@page "/customers"
@using BlazorAppTest2.Data
@using BlazorAppTest2.Models
@using Microsoft.EntityFrameworkCore
@inject AppDbContext Db

<h3>Customers</h3>

<ul>
    @foreach (var c in customers)
    {
        <li>@c.Name (@c.Email)</li>
    }
</ul>

@code {
    private List<Customer> customers = new();

    protected override async Task OnInitializedAsync()
    {
        customers = await Db.Customers.ToListAsync();
    }
}



<!--

<PageTitle>Home</PageTitle>

<h1>Astacus</h1>

Welcome to your new app.-->
